header#header,
footer#footer {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 0.5rem 1rem;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: var(--text-secondary)
    }
}

header#header {
    height: var(--header-height);
    top: 0px;

    div:first-child {
        display: flex;
        flex-direction: column; 

        p {
            text-transform: uppercase;
        }
    }
}

footer#footer {
    height: var(--footer-height);
    display: flex;
    bottom: 0px;

    nav a:not(:first-child)::before {
        content: "•";
        margin: 0 10px;
        opacity: 0.5;
    }
}

.quote {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: var(--quote-font-size);
}