html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

header#header,
footer#footer {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 0.5rem 1rem;
}

header#header {
    div:first-child {
        display: flex;
        flex-direction: column; 

        p {
            text-transform: uppercase;
        }
    }
}