html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

header#header,
footer#footer {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 0.5rem 1rem;
}