:root {
    --bg-primary: #F2F0EF;
    --bg-secondary: #333;
    
    --accent: #335C46;

    --text-primary: #111;
    --text-secondary: #BBB;

    --quote-font-size: 1.5rem;

    --header-height: 6rem;
    --footer-height: 3rem;
}